python-dotenv
groq
cohere
AppOpener
pywhatkit
beautifulsoup4
googlesearch-python
requests
rich
keyboard
mtranslate
selenium
webdriver-manager
pygame
edge-tts
pillow
psutil
pywin32
regex
SpeechRecognition
PyAudio
deep-translator
google-auth
google-auth-oauthlib
google-api-python-client
python-docx
docx2pdf
matplotlib
certifi
